<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="Data source=DESKTOP-FDH8JHJ\SQLEXPRESS;Initial Catalog=Primarie;Integrated Security=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<appSettings>
  <add key="ParentTableName" value="Adrese"/>
  <add key="ChildTableName" value="Locuitori"/>
  <add key="ChildColumnNames" value="Lid,Nume,Prenume,Serviciu,Adid"/>
  <add key="ChildColumnsInsertParameters" value="@id,@nume,@prenume,@serviciu,@adid"/>
  <add key="tablesName" value="Adrese_Locuitori"/>
  <add key="textBoxes" value="idbox,numebox,prenumebox,serviciubox,adresabox"/>
 
  <add key="selectParent" value="select * from Adrese"/>
  <add key="selectChild" value="select * from Locuitori where Adid = "/>
  <add key="insert" value="insert into Locuitori (Lid, Nume,Prenume,Serviciu,Adid) values ("/> 
  <add key="delete" value="delete from Locuitori where Lid="/>
  <add key="update" value="update Locuitori set Nume=@nume, Prenume=@prenume, Serviciu=@serviciu, Adid=@adid where Lid=@id "/>
</appSettings>
<!--<appSettings>
  <add key="ParentTableName" value="Departamente"/>
  <add key="ChildTableName" value="Angajati"/>
  <add key="ChildColumnNames" value="Aid,Nume,Prenume,Salariu,Did"/>
  <add key="ChildColumnsInsertParameters" value="@id,@nume,@prenume,@salariu,@did"/>
  <add key="tablesName" value="Departamente_Angajati"/>
  <add key="textBoxes" value="idbox,numebox,prenumebox,salariubox,departbox"/>
 
  <add key="selectParent" value="select * from Departamente"/>
  <add key="selectChild" value="select * from Angajati where Did = "/>
  <add key="insert" value="insert into Angajati (Aid, Nume,Prenume,Salariu,Did) values ("/> 
  <add key="delete" value="delete from Angajati where Aid="/>
  <add key="update" value="update Angajati set Nume=@nume, Prenume=@prenume, Salariu=@salariu, Did=@did where Aid=@id "/>
</appSettings>-->
</configuration>